.name{
    background-color: grey;
    
} 

.name1{
  text-align: center;
 
}
.name2{
  text-align: center;
  width: 1500px;
}
.name3{
background-color: blue;
color: aliceblue;
}
.name4{
 background-color: silver;
}
.name5{
background-color: green;
width: 45px;
height: 30px;
}
.name6{
background-color: yellow;
width: 65px;
height: 30px;
}
.name7{
background-color: red;
width: 55px;
height: 30px;
}