body{
    margin: 0;
    font-family: Arial;
}

.header{
    display: grid;
    background-color: rgba(244,244,244,255);
    padding: 20px;
    grid-template-columns: 300px 400px 300px;
    gap: 10px;
}

.text1{
    border: 1px solid black;
    background-color: rgba(51,51,51,255);
    color: white;
    text-align: center;
}

.text2{
    border: 1px solid white;
    border-radius: 3px;
    background-color: white;
    padding-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
    .header {
            display: grid;
            background-color: rgba(244,244,244,255);
            padding: 20px;
            grid-template-columns: 1fr 3fr;
            gap: 10px;
    }
  }

  @media only screen and (max-width: 768px) {
    .header {
      display: flex;
      flex-direction: column;
    }
  }