.name{
    background-color: pink;
    width: 80%;
    height: 25px;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.name2{
    opacity: 0.3;
}
.name1{
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
  
}