body{
    display: flex;
    justify-content: space-between;
    height: 20vh;
    margin: 0;
}
.table{
    
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    width: 500px;
}
.name{
    
    color: white;
    background-color:blueviolet;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    
}

