body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.title {
    border-left: 6px solid rgba(255,97,22,255);
    padding-left: 20px;
}

.text {
    border-top: 3px solid rgb(225, 223, 223);
    height: 50px;
    margin: 0;
    padding-top: 20px;
}