.name0{
    font-size: 40px;
}
.name{
    background-color: black;
    color: white;
}
.name1{
    background-color: rgb(218, 210, 199);
}
.name2{
    background-color: black;
    color: white;
    width: 500px;
    height: 40px;
 
}
.name3{
    text-align: center;
    background-color: grey;
    height: 30px;
}
